# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

/build

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vscode
/*_autogen
gamos_gui
cmake_install.cmake
CMakeCache.txt
/CMakeFiles
moc_*
Makefile
/dist
CPackConfig.cmake
CPackSourceConfig.cmake
gamos_gui-1.0.0-Linux.zip
install_manifest.txt
/_CPack_Packages